@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-image: url("htmlbackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}

main {
    padding: 16px;
    margin-bottom: 10px
}

footer {
    position: absolute;
    padding: 24px 0px;
    width: 100%;
    bottom: 0;
}

img {
    height: 250px;
    border-radius: 25% 25% 25% 25%;

}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: grey;
    width: 100%;

}

a {
    text-decoration: none;
}

a:hover{

    color: green

}
