body {
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    text-align:center;
}

ol{
    padding:0px;
}

ol > li {
    text-align:center;
    list-style-position: inside;

}

table {
    margin:auto;
}

tr:nth-child(even){
    background-color: grey;
}

main {
    padding: 0px;
    margin-bottom: 10px
}


footer {
    position: fixed;
    padding-top: 10px;
    height: 30px;
    width: 100%;
    bottom: 0;
    background-color: #4abf30;
    text-align:center;
}

img {
    height: 250px;
    margin-left:auto;
    margin-right:auto;
}

.link{
    color:white;
}

a{
    color:green;
}

a:visited {
    text-decoration: none;
    color: red;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px 10px 10px 10px;
    margin: 0 0 0 0;
    background-color: #ff6529;
}



.grid-container {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
}

/*.grid-item {
    align-items:start;
    grid-row-start: 1;
    grid-row-end: 4;
}
